
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Colors */
    --clr-primary: #131313;
    --clr-secondary: #F5F7F8;
    --clr-primary-light: #161616;
    --clr-primary-dark: rgb(14, 13, 13);
    --clr-secondary-dark: #777777;


    --clr-backdrop: rgba(0, 0, 0, .5);

    --clr-grey: rgb(207, 207, 207);

    /* Sizes */
    --max-board-size-small: 17.5rem;
    --max-board-size-medium: 27.5rem;
    --max-board-size-large: 37.5rem;

    /* Font Sizes */
    --font-size-small: 1rem;
    --font-size-regular: 1.15rem;
    --font-size-big: 1.3rem;
    --font-size-xl: 1.5rem;

    /* Shadows */
    --drop-shadow: drop-shadow(2px 2px 6px #00000075);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
}

html, body {
    block-size: 100%;
    inline-size: 100%;
}

main {
    background-color: var(--clr-primary);
    block-size: 100vh;
    inline-size: 100vw;
    display: grid;
    place-items: center;
}
